Repository zwarag/dungeon-crawler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: reformat everything
  app/main.ts
  app/public/txt/text.json
  app/src/character.ts
  app/src/dom-controller.ts
  app/src/dungeon.ts
  app/src/enemy.ts
  app/src/game.ts
  app/src/helper/const.ts
  app/src/helper/enemy.ts
  app/src/helper/gender.ts
  app/src/helper/grid-elements.ts
  app/src/helper/keyboard.ts
  app/src/helper/random.ts
  app/src/helper/time.ts
  app/src/helper/typewriter.ts
  app/src/highscore-controller.ts
  app/src/input-controller.ts
  app/src/state-machine.ts
  app/styles/abstracts/_mixins.scss
  app/styles/abstracts/_variables.scss
  app/styles/main.scss
  app/styles/pages/exit-overlay.scss
  app/styles/pages/highscore.scss
  app/styles/pages/player-name-input.scss
  app/styles/pages/start-screen.scss
  app/styles/pages/story-box.scss
Due: eslint, prettier --write

feature: keymap for HUD v1
  app/index.html
  app/src/dom-controller.ts
  app/styles/abstracts/_mixins.scss
  app/styles/components/hud.scss
  app/styles/main.scss
Due: eslint, prettier --write

feature: player status for HUD v1
  app/index.html
  app/src/dom-controller.ts
  app/src/game.ts
  app/src/helper/const.ts
  app/src/highscore-controller.ts
  app/src/player.ts
  app/styles/abstracts/_mixins.scss
  app/styles/components/hud.scss
Due: eslint, prettier --write

fix HP bar width behavior; start game on render(tempoary); clear HUD placeholder for weapon display (for later)
  app/index.html
  app/main.ts
  app/src/dom-controller.ts
  app/src/hud-animation.ts
  app/styles/abstracts/_mixins.scss
  app/styles/components/hud.scss
Due: eslint, prettier --write

chore: change whitespace sensitivity for prettier
  .prettierrc
Due: none

chore: reformat
  app/index.html
Due: none

refactor: consistend naming & return value
  app/src/dom-controller.ts
Due: eslint, prettier --write

refactor: consistent naming
  app/src/highscore-controller.ts
  app/src/hud-animation.ts
  app/src/player.ts
Due: eslint, prettier --write

implement death screen; end game on player death; fix highscore background
  app/index.html
  app/src/dom-controller.ts
  app/src/game.ts
  app/src/helper/const.ts
  app/src/player.ts
  app/styles/abstracts/_keyframes.scss
  app/styles/abstracts/_mixins.scss
  app/styles/main.scss
  app/styles/pages/death-screen.scss
Due: eslint, prettier --write

chore: add todo for statemachine
  app/src/damageText.ts
Due: eslint, prettier --write

add display breakpoints
  app/styles/abstracts/_mixins.scss
  app/styles/components/hud.scss
Due: prettier --write

chore: update to typescript 4.4
  package.json
  yarn.lock
Due: none

apply display breakpoints to HUD, change game title, add Helvetica font
  app/index.html
  app/styles/abstracts/_mixins.scss
  app/styles/abstracts/_variables.scss
  app/styles/components/hud.scss
Due: prettier --write

Update _variables.scss
  app/styles/abstracts/_variables.scss
Due: prettier --write

WIP - State Machine
  app/src/character.ts
  app/src/damage-text-state.ts
  app/src/damage-text.ts
  app/src/damageText.ts
  app/src/game.ts
  app/src/helper/IAnimated.ts
  app/src/state-machine.ts
Due: eslint, prettier --write

snap
  app/src/enemy-control.ts
  app/src/enemy.ts
  app/src/game.ts
Due: eslint, prettier --write

Performance boost + ladder
  app/public/assets/Ladder.glb
  app/src/dungeon.ts
  app/src/enemy.ts
  app/src/game.ts
  app/src/helper/elements.ts
  app/src/helper/model-loader.ts
  app/src/player.ts
Due: eslint, prettier --write

next level generation, enemies now don't access the same spot
  app/src/enemy-fsm.ts
  app/src/game.ts
  app/src/player.ts
Due: eslint, prettier --write

Animation Crossfade
  app/src/enemy-fsm.ts
  app/src/state-machine.ts
Due: eslint, prettier --write

refactor: remove unused, consistent naming
  app/src/dom-controller.ts
  app/src/enemy-control.ts
  app/src/game.ts
  app/src/player.ts
Due: eslint, prettier --write

Minor improvements, removed raycaster
  app/src/enemy-fsm.ts
  app/src/game.ts
Due: eslint, prettier --write

set dmg-text lower, add real floor number to highscore, addapt _generateNewLevel
  app/src/damage-text.ts
  app/src/dom-controller.ts
  app/src/game.ts
  app/src/helper/time.ts
Due: eslint, prettier --write

add loading screen
  app/index.html
  app/main.ts
  app/src/dom-controller.ts
  app/src/game.ts
  app/src/helper/const.ts
  app/styles/main.scss
  app/styles/pages/loading-screen.scss
Due: eslint, prettier --write

Path conditions:
  eslint: any of: app/**/*.{json,ts}
  prettier --write: any of: app/**/*.{ts,json,scss,md}
